nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between; 
}
  
.header-logo {
  width: 5.2rem;  
}

@media screen and (max-width: 480px){
  header {
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    width: 8rem;
    margin-bottom: 5%;
  }

}
